<a href="https://colab.research.google.com/github/TainaDr/pipeline_titanic/blob/main/etl_aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Realize a extração dos dados do Titanic

In [ ]:
import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/TainaDr/pipeline_titanic/main/titanic.csv"
dataFrame = pd.read_csv(url)
print(dataFrame.head())

## 2. Exibição das informações do conjunto de dados

In [ ]:
print(dataFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

## 3. Veja quantos dados estão faltando (valores nulos)

In [ ]:
print(dataFrame.isnull().sum())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

## 4. Preencha os valores que estão faltando na coluna 'Age' com a média das idades

In [ ]:
dataFrame['Age'] = dataFrame['Age'].fillna(dataFrame['Age'].mean())
print(dataFrame['Age'])

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

## 5. Remova a coluna 'Cabin', que tem muitos dados faltando

In [ ]:
dataFrame.drop('Cabin', axis=1, inplace=True)

## 7. Crie uma nova coluna chamada 'Eh_Menor' que indica se a pessoa tem menos de 18 anos

In [ ]:
dataFrame['Eh_Menor'] = dataFrame['Age'] < 18

## 8. Veja quantas pessoas são menores de idade

In [ ]:
quantidade_menores = dataFrame['Eh_Menor'].sum()
print(f"Total de pessoas menores de idade: {quantidade_menores}")

    Cabin  HasCabin
0     NaN         0
1     C85         1
2     NaN         0
3    C123         1
4     NaN         0
..    ...       ...
886   NaN         0
887   B42         1
888   NaN         0
889  C148         1
890   NaN         0

[891 rows x 2 columns]

## 9. Salve o novo arquivo como CSV no seu computador

In [ ]:
dataFrame.to_csv("titanic_tratado.csv", index=False)

Valores ausentes em Age: 0
     Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
..      ...   ...
886       2  27.0
887       1  19.0
888       3  28.0
889       1  26.0
890       3  32.0

[891 rows x 2 columns]

## 10. Armazene os dados em um banco de dados SQLite

In [ ]:
conexao = sqlite3.connect("titanic.db")
dataFrame.to_sql("passageiros", conexao, if_exists="replace", index=False)
conexao.close()

## 11. Acesse os dados do banco e veja apenas quem é menor de idade

In [ ]:
conexao = sqlite3.connect("titanic.db")
tabela = "SELECT * FROM passageiros WHERE Eh_Menor = 1"
menores_dataFrame = pd.read_sql_query(tabela, conexao)
print("Passageiros menores de idade:")
print(menores_dataFrame)
conexao.close()

In [ ]:
dataFrame.to_csv('corrigido.csv')